html, body{
    height: 100%;
}

body{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background: linear-gradient( 180deg, #0EA5E9 0%, #0F172A 100%);
    color: #FFFFFF; 

}

button {
    background: #37476C;
    color: #FFFFFF;
    padding: 0 45px;
    border: 3px solid #0F172A;
    border-radius:25px;
    height: 50px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background-color: #0F172A; 
}